<div class="container-fluid d-flex justify-content-center">
    <div class="col-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src={{img1}} class="d-block w-100" alt="..." height="580x">
              </div>
              <div class="carousel-item">
                <img src={{img2}} class="d-block w-100" alt="..." height="580x">
              </div>
              <div class="carousel-item">
                <img src={{img3}} class="d-block w-100" alt="..." height="580x">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="col-6 ">
        <h3 class="text">What should food about?</h3><br><br>
      <ul>
        <li><a href="">sharing little tips for how to make the recipe turn out just right, like me demanding that you try using a food processor for the jalapeños or talking a lot about pan tilting and crepe flipping.</a></li><br>
        <li><a href="">describing which specific ingredients you recommend, like me obsessing over Trader Joe’s prechopped mirepoix</a></li><br>
        <li><a href="">explaining what ingredients are typically used and how the dish is traditionally made – Jun-Blog is spot-on here
        </a></li><br>
        <li><a href="">walking through how you did each specific step: Pioneer Woman has this down pat + she’s hilarious while doing it
        </a></li><br>
        <li><a href="">your own made-up question and answer about the food or recipe, like when I did that for those plantains that I’m craving right now
        </a></li>
      </ul> 
    </div>
</div>
