.container-fluid{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 580px; */
    /* overflow: hidden;
    overflow-y: scroll; */
   
  }
  .box{
    width: 50%;
    /* height: 550px; */
    box-shadow: 5px 5px 20px black;
    border-radius: 30px;
    background-color: rgb(129, 129, 184);
  
  }

 
  button{
    width: 110px;
    height: 40px;
    padding: 5px;
    margin-left: 440px;
    font-size: 20px;
    font-weight: 500;
    border-radius:10px;
  } 
  
 