.container{
  display: flex;
  /* grid-template-columns: auto auto auto; */
  justify-content: center;
  align-items: center;
  height: 580px;
 
}
.card{
   
    border-radius: 30px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    transition: 0.5 ease-in-out;
    height: 400px;
    
   
}
.card:hover{
    
transform:scale(1.2);


}
img{
    height: 200px;
}
.des{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}
.row{
    padding: 30px;
    box-sizing: border-box;
    margin:50px;
    margin-bottom: 100px;
}